/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, character,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: logo;
  src: url(../fonts/Philosopher-Bold.ttf);
}
@font-face {
  font-family: heading;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: body;
  src: url(../fonts/Montserrat-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}

header {
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  font-family: main;
}

h1 {
  font-size: 2.2rem;
}
@media only screen and (min-width: 569px) {
  h1 {
    font-size: calc(2.2rem + 1 * (2.2rem * 0.3));
  }
}
@media only screen and (min-width: 1025px) {
  h1 {
    font-size: calc(2.2rem + 2 * (2.2rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  h1 {
    font-size: calc(2.2rem + 3 * (2.2rem * 0.3));
  }
}

h2 {
  font-size: 1.6rem;
}
@media only screen and (min-width: 569px) {
  h2 {
    font-size: calc(1.6rem + 1 * (1.6rem * 0.3));
  }
}
@media only screen and (min-width: 1025px) {
  h2 {
    font-size: calc(1.6rem + 2 * (1.6rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  h2 {
    font-size: calc(1.6rem + 3 * (1.6rem * 0.3));
  }
}

h3 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 569px) {
  h3 {
    font-size: calc(1.2rem + 1 * (1.2rem * 0.3));
  }
}
@media only screen and (min-width: 1025px) {
  h3 {
    font-size: calc(1.2rem + 2 * (1.2rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  h3 {
    font-size: calc(1.2rem + 3 * (1.2rem * 0.3));
  }
}

h1.logo {
  font-family: logo;
  font-size: 3.5rem;
}
@media only screen and (min-width: 569px) {
  h1.logo {
    font-size: calc(3.5rem + 1 * (3.5rem * 0.3));
  }
}
@media only screen and (min-width: 1025px) {
  h1.logo {
    font-size: calc(3.5rem + 2 * (3.5rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  h1.logo {
    font-size: calc(3.5rem + 3 * (3.5rem * 0.3));
  }
}

h1, h2, h3 {
  font-family: heading;
  line-height: 0.7;
}

p, span {
  font-family: body;
  font-size: 1rem;
}
@media only screen and (min-width: 569px) {
  p, span {
    font-size: calc(1rem + 1 * (1rem * 0.3));
  }
}
@media only screen and (min-width: 1025px) {
  p, span {
    font-size: calc(1rem + 2 * (1rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  p, span {
    font-size: calc(1rem + 3 * (1rem * 0.3));
  }
}
