@use '../../assets/vars';

.contrast-image {
  position: relative;
  transition: height 0.75s, width 0.75s;
  height: var(--baseHeight);
  width: var(--baseWidth);

  img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0.12%;
    left: 50.18%;
    transform: translateX(-50%);
    transition: filter 0.55s, transform 0.55s;
  }

  .glow {
    position: absolute;
    top: 0;
    left: 50%;
    filter: invert(1) blur(4px);
  }

  &.portrait {
    padding-top: 165%;
  }

  &.square {
    padding-top: 100%;
  }

  &.intensify:hover{
    img {
      filter: invert(0.05);
    }

    img.glow{
      filter: invert(1) blur(16px);
    }
  }

  @for $i from 1 through length(vars.$breakpoints) {
    @media #{nth(vars.$breakpoints, $i)} {
      &.scale {
        height: calc(var(--baseHeight) * (1 + 0.15 * #{$i}));
        width: calc(var(--baseWidth) * (1 + 0.15 * #{$i}));
      }
    }
  }
}
