@use '../../assets/vars';
.fable-cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;

    > .fable-card {
        grid-column: span 12;
    }
}

@media #{vars.$mobile-and-up} {
    .fable-cards > .fable-card {
        grid-column: span 6;
    }
}

@media #{vars.$desktop-small-and-up} {
    .fable-cards {
        gap: 80px;
    }
}

@media #{vars.$desktop-and-up} {
    .fable-cards > .fable-card{
        grid-column: span 4;
    }
}
