@use '../../assets/font-styles';
@use '../../assets/global';

.fragment-card {
  top: 0;
  position: relative;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 8px 1px rgb(48, 48, 48);
  text-decoration: none;
  padding: 7.5%;
  transform-origin: center;
  transition: transform 0.85s;

  &:visited {
    color: white;
  }

  &:hover {
    cursor: pointer;
    transform: rotateY(-20deg);
  }

  &.active {
    transform: rotateY(-180deg);
    &:hover {
      transform: rotateY(-200deg);
    }
  }

  .caption {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    user-select: none;

    p,
    h2 {
      position: relative;
      text-align: center;
      width: 100%;
    }
    p {
      @include font-styles.font-attributes(0.9rem);
      @include font-styles.contrast-font(white);
      margin-top: 12px;
      font-family: 'title';
    }
    h2 {
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      padding: 2.5% 0;
      border-radius: 3px;
      white-space: nowrap;
      transition: justify-content 0.5s;
      font-family: 'heading-main';
    }
  }
}
 