@use '../../assets/font-styles';
@use '../../assets/vars';

.header {
  @include font-styles.contrast-font(white);
  position: relative;
  margin: 12.5% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5.5vh;
  user-select: none;

  h1 {
    flex: 0 0 100%;
  }

  img {
    height: 50%;
  }
}

@media #{vars.$mobile-and-up} {
  .header {
    gap: 10vh;
  }
}

@media #{vars.$tablet-and-up} {
  .header {
    flex-flow: row nowrap;
    margin: 5% 0;
    gap: 5vw;
    h1 {
      flex: 0 0 60%;
    }
  }
}
