@use '../../assets/font-styles';

.spaced-text{
    display: flex;
    justify-content: space-around;

    span {
        font-family: inherit;
        font-size: inherit;
    }

    &.contrast span{
        @include font-styles.contrast-font(white);
    }
}
