@use 'sass:list';
@use '_vars';
@use '_reset';
@use '_font-styles';
@use 'sass:map';

// Font sizes
$title-size: 3rem;
$body-size: 1rem;
$header-sizes: 2.4rem, 1.8rem, 1.4rem;

@font-face {
  font-family: 'title';
  src: url(./fonts/Philosopher-Bold.ttf);
}

@font-face {
  font-family: 'heading';
  src: url(./fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: 'body';
    src: url(./fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: 'body-bold';
    src: url(./fonts/LibreBaskerville-Bold.ttf);
}

@font-face {
    font-family: 'body-italic';
    src: url(./fonts/LibreBaskerville-Italic.ttf);
}

@font-face {
    font-family: 'caption';
    src: url(./fonts/QwitcherGrypen-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

header {
  @include font-styles.contrast-font(white);
  font-family: main;
}

@for $i from 1 through 3 {
  h#{$i} {
    @include font-styles.font-attributes(list.nth($header-sizes, $i));
  }
}

h1.title{
  font-family: title;
  @include font-styles.font-attributes($title-size);
}

h1, h2, h3 {
  font-family: heading;
  line-height: 0.7;
}

p, span {
  font-family: body;
  @include font-styles.font-attributes($body-size);
}
