.header {
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
  position: relative;
  padding: 12.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header h1 {
  flex: 0 0 100%;
}
.header img {
  width: 35%;
  min-width: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1025px) {
  .header {
    flex-flow: row nowrap;
    padding: 5% 0;
    gap: 5vw;
  }
  .header h1 {
    flex: 0 0 60%;
  }
  .header img {
    width: 12.5%;
  }
}