.tome-card {
  top: 0;
  position: relative;
  border-radius: 10px;
  padding: 30px;
  color: white;
  min-width: 175px;
  padding-top: 165%;
  height: 0;
  box-shadow: 0 0 8px 1px rgb(48, 48, 48);
  transition: transform 0.55s;
}
.tome-card > * {
  position: absolute;
}
.tome-card:hover {
  transform: translate(0.25%, 0.25%);
}
.tome-card:hover img {
  filter: invert(1);
  transform: translate(-0.25%, -0.25%);
}
.tome-card:hover img.glow {
  filter: none;
  transform: translate(-0.25%, -0.25%);
}
.tome-card .card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.tome-card .card:visited {
  color: white;
}
.tome-card .caption {
  width: 100%;
  padding: 0 10%;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tome-card .caption p,
.tome-card .caption h3 {
  position: relative;
  text-align: center;
  width: 100%;
}
.tome-card .caption p {
  font-size: calc(0.75rem + 1 * (0.75rem * 0.3));
  margin-top: 12px;
}
@media only screen and (min-width: 1025px) {
  .tome-card .caption p {
    font-size: calc(0.75rem + 2 * (0.75rem * 0.3));
  }
}
@media only screen and (min-width: 1441px) {
  .tome-card .caption p {
    font-size: calc(0.75rem + 3 * (0.75rem * 0.3));
  }
}
.tome-card .caption h3 {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 2.5% 0;
  border-radius: 3px;
  white-space: nowrap;
}
.tome-card .portrait {
  width: 100%;
  height: 0;
  padding-top: 115%;
}
.tome-card .portrait img {
  position: absolute;
  padding: 10% 10% 0 10%;
  width: 100%;
  top: 1.75%;
  left: 0.75%;
  transition: filter 0.55s, transform 0.55s;
}
.tome-card img.glow {
  position: absolute;
  filter: invert(1);
  top: 1%;
  left: 0;
}